body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  justify-content: space-between;
  max-width: 100%;
  background-repeat: repeat;
}

.mainContent {
  background-image: url("/images/siteBg.jpg");
}

.navButton {
  align-self: center;
}

img {
  width: 100%;
}

.noPadding {
  padding: 0px;
}

.data-panel {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  border: 1px solid #a6a6a6;
}
.data-panel th {
  text-align: left;
}
.data-panel tr:nth-child(odd) {
  background-color: #a6a6a6;
}
.data-panel td {
  padding: 5px;
}
.data-panel td input {
  width: 100%;
}

.error {
  color: #ff0000;
}

.footer-template {
  position: unset;
  left: 0;
  bottom: 0;
  background-color: #a6a6a6;
  width: 100%;
}

.header-template {
  position: unset;
  left: 0;
  top: 0;
  width: 100%;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color : #d3d3d3; 
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}