<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css" />
<%- include('../templates/header') %>

<div class="container mainContent">
  <div class="row"></div>
  <div class="row"><img src="images/BigPoster.png" /></div>
  <div class="row">
    <div class="col-sm-4">
      <br>
      <h3 class="mainContentHeadings">Vision</h3>
      <h4>
        "To create an enlightened world, where individuals live joyfully
        together in surrenderfulness."
      </h4>
      <p>
        My life is dedicated to providing this training of the wise men in the
        science and art of non-doing, of becoming whole by discovering higher
        and higher levels of silence (called Samadhis) within.
      </p>
      <p>
        I am fortunate to be the one to whom this secret was revealed. I humbly
        offer this miraculous knowledge that cures not only diseases of the body
        such as Asthma, Diabetes and even Cancer but also diseases of the
        society such as Global pollution and deforestation, terrorism, isolation
        and global inequities. - Guruji Shri Rishi Prabhakar
      </p>
    </div>
    <div class="col-sm-4">
      <img src="images/Guruji.jpg">
    </div>
    <div class="col-sm-4">
      <br>
      <h3>Purpose</h3>
      <p>
        Many people go about life depressed, feeling that they have not been given special talents and privileges by the creator at their birth. They do not know that every individual is potentially great and inherently has all the talents. For example, everyone has the potential to be somebody great — a reformer, a dancer, a singer, a poet, a sportsman, an engineer or a doctor.
      </p>
      <p>
        What is lacking, apparently, is the method by which all the hidden strengths can be unfolded. There are two basic traits that all great people possess: the first is the ever-growing love for people around them; the second is the unwavering commitment towards contributing something to the world.
      </p>
      <p>
        Once these two qualities are unfolded in the individual, he or she will naturally excel in life. The person’s intellectual sharpness, capacity of the mind to comprehend and the physical ability to perform will all unfold naturally and effortlessly. For example, Gandhiji was a sickly average student who became an astute politician with tremendous capacity to comprehend the whole world. He became a strong person physically too.
      </p>
      <p>
        The leadership trainings offered by SSY or Life Yessence Academy are oriented to invoke this true intellectual, emotional, mental and physical potential in each individual and to build the fabric of greatness in this world.
      </p>
    </div>
  </div>
</div>

<%- include('../templates/footer') %>
