<!--Footer template html-->

    <div class="footer-template">
        <hr class="">
        <br>
        <h5>This is footer</h5>
    </div>
    <script src="../../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>