<!--Footer template html-->

    <!-- Footer -->
    <footer class="footer-template page-footer font-small mdb-color lighten-3 pt-4">
        <div class="container">
            <!--Adderss-->
            <div class="col-md-4 mx-2">
                <h3>Address :</h3>
                <div class="row-md-3 my-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
            <!--Follow Us links-->
            <div class="col-md-4 mx-2">
                <h3>Follow Us On :</h3>
                <div class="row-md-2 my-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <span class="align-middle">
                        <a href="linkToFacebook" class="fa-1x ml-2">Facebook</a>
                    </span>
                </div>
                <div class="row-md-2 my-3">
                    <i class="fab fa-twitter fa-2x"></i>
                    <span class="align-middle">
                        <a href="linkToFacebook" class="fa-1x ml-2">Twitter</a>
                    </span>
                </div>
                <div class="row-md-2 my-3">
                    <i class="fab fa-instagram fa-2x"></i>
                    <span class="align-middle">
                        <a href="linkToFacebook" class="fa-1x ml-2">Instagram</a>
                    </span>
                </div>
            </div>
            <!--Contact Info-->
            <div class="col-md-4 mx-2">
                <h3>Contact :</h3>
                <div class="row-md-3 my-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/fontawesome.all.min.js"></script>
</body>
</html>