<!--Header template html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sadhak Registration</title>
    <link rel="stylesheet" href="/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
  <div class="header-template">
    <div class="container mainContent">
      <div class="row">
        <div class="col-sm-2 noPadding">
          <img class="logo" src="images/SmallLogo.png" />
        </div>
        <div class="col-sm-8 noPadding"></div>
        <div class="col-sm-1 navButton">
          <a href="/registration/register" class="btn btn-dark" role="button">Registration</a> </br>
        </div>
        <div class="col-sm-1 navButton">
          <a href="/registration" class="btn btn-dark" role="button">Home</a>
        </div>
      </div>
    </div>
  </div>